th, td {
  border: 3px solid black;
  border-collapse: collapse;
}

h1 {
  font-size: 40px;
  border-style: dotted;
  border-color: black ;
}

h2 {
  font-family: "Papyrus";
  font-size: 30px;
  border-left: 6px solid rgb(4, 64, 160);
  background-clip: content-box;
}

h3 {
  font-size: 20px;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color:#f0ffff
}

.text1 {
  background-color: rgb(189, 214, 255);
  margin-right: 87%;
}

.text2 {
  background-color: rgb(189, 214, 255);
  margin-right: 85%;
}

.text3 {
  background-color: rgb(189, 214, 255);
  margin-right: 91%;
}

.resultLabel {
  font-size: 45px;
  text-align: center;
}

.box {
  border: 3px solid black;
  table-layout:fixed;
  width:100%;
}

.row{
  overflow: hidden;
}

.row [class="col-"]{
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

#original {
  width:360px;
  height:360px;
  visibility:hidden;
}

.historyPic {
  height:330px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: block;
  white-space: nowrap;
}

.historyLabel {
  height:180px;
}

.checkResult {
  width: 300px;
  height: 60px;
  align-self: center;
}

#bottomBlock {
  text-align: center;
}

#checkCorrect {
  background-color: rgb(140, 199, 139);
  font-size: larger;
}

#checkCorrect:hover {
  background-color: rgb(0, 185, 6);
  font-size: larger;
  transition-duration: 0.2s;
}

#checkCorrect:active {
  background-color: rgb(0, 185, 6);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#checkWrong {
  background-color: rgb(248, 126, 151);
  font-size: larger;
}

#checkWrong:hover {
  background-color: rgb(236, 33, 74);
  font-size: larger;
  transition-duration: 0.2s;
}

#checkWrong:active {
  background-color:  rgb(236, 33, 74);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.example {
  width: 20%;
  
}

.exampleLabel {
  margin-left: 5%;
  text-align: left;
}
